h1 {
  font-family: 'Limelight', cursive;
  font-size: 40px;
  text-align: center;
  width:500px;
  margin: 0 auto;
  background: gray;
}
h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width:500px;
  margin: 0 auto;
  background: rgb(155, 120, 120);
  text-align: center;
}

/* B O D Y  */
#marie{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#kassie{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 
#allee{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#aloysious{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* PAGE SPLIT */

#bio-top {
  display: block;
}

#bio-bottom {
  display: block;
}

/* F O O T E R  */
footer {
  text-align: center;
  background: gray;
  height: 30px;
  margin-bottom: 0%;
  padding-top: 10px;
  margin: auto;
  color: rgb(0, 0, 0);
  font-size: 16px;
  width:500px;
}