#background-overlay {
  position: absolute;
  height:100%;
  width: 150%;
  background: url(/img/wallpapers.png) repeat center center fixed;
  background-size: 35%;
  opacity: .05;
  z-index: -1
}
#background-underlay {
  position: absolute;
  height:100%;
  width: 100%;
  background-color: rgb(41, 41, 41);
  z-index: -2
}
/*.............................................T w e n t y 2 0  . T r i v i a (h1) */
h1 {
  font-family: 'Limelight', cursive;
  font-size: 50px;
  height: 60px;
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  background: gray;
  text-align: center;
  margin-bottom: 15px;
}
/*..................................................L e t s  . P l a y (h2) */
h2 {
  font-family: 'Limelight', cursive;
  width:260px;
  font-size: 30px;
  margin: 0 auto;
  height: 30px;
  padding-top: 5px;
  background: rgb(155, 120, 120);  
  text-align: center;
  border: dashed 3px rgb(218, 199, 199);
  border-radius: 60px;
}
/*....................................................G A M E . C A R D */
#questionImage{
  display: block;
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 2px 3px 3px 4px rgb(0, 0, 0);
  border-radius: 10px 10px 0 0;
  margin: auto;
  height: 350px;
  width: 627px;
}
#gameForm {
  border: 1px solid black;
  border-radius: 0 0 10px 10px;
  box-shadow: 2px 3px 3px 4px rgb(0, 0, 0);
  width: 550px;
  padding: 40px;
  margin: auto;
  background-color: rgb(255, 255, 255);
}
#question {
  width: max-content;
  margin: 20px auto 20px;
  font-size: 32px;
  font-family: 'Gochi Hand', cursive;
  color: antiquewhite;
}
input {
  margin-left: 150px;
}
label {
  display: block;
  padding-bottom: 10px;
  margin-top: -20px;
  margin-left: 240px;
  font-size: 20px;
}
button:hover {
  background-color:rgb(4, 4, 32);
  color:rgb(178, 12, 211)
}
button:focus {outline:0;}
button {
  display: block;
  border: 2px solid rgb(10, 10, 54);
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
  background-color:rgb(24, 24, 71);
  color: white;
  font-weight: bold;
  font-size: 20px;
  height: 35px;
  width: 110px;
  margin: 40px auto 10px;
}
 nav {
   margin-top: 300px;
 }
 #nav {
  background: rgb(155, 120, 120);
  font-family: Limelight, cursive;
  display: inline-block;
  text-align: center;
  width: 100%;
  /* position: absolute;
  bottom: 10; */
  margin-bottom: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

li {
  display: inline-block;
  font-weight: bold;
  font-size: 22px;
 padding-left: 150px;
 padding-right: 150px;
 }

 a {
  color: rgb(0, 62, 78)
 }
 a:hover {
  color: white;
 }
/*...................................................F O O T E R */
footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  background: gray;
  height: 30px;
  margin-bottom: 0;
  padding-top: 10px;
  margin: auto;
  color: rgb(0, 0, 0);
  font-size: 16px;
  width: 100%;
  font-weight: bold;
}