
/*......................................B A C K G R O U N D . Toilet-Paper-! */
body {
  /* background: url(/img/toilet-paper.png) no-repeat center center fixed;
  background-size: 65%; */
  background-color: rgb(41, 41, 41);
}

/*.......................................T w e n t y 2 0  . T r i v i a (h1) */
h1 {
  font-family: 'Limelight', cursive;
  font-size: 50px;
  height: 60px;
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  background: gray;
  text-align: center;
  margin-bottom: 15px;
}
/*...............................................L e a d e r . B o a r d (h2) */
h2 {
  font-family: 'Limelight', cursive;
  width: 100%;
  font-size: 30px;
  margin: 0 auto;
  height: 30px;
  padding-top: 5px;
  background: rgb(155, 120, 120);  
  text-align: center;

}
/*..........................................L E A D E R B O A R D . T A B L E  */
#leaderBoard {
  position: fixed;
  top: 40%;
  left: 48%;
  width: 400px;
}

#leaderBoardBox {
  background: url(/img/toilet-paper.png) no-repeat center center fixed;
  background-size: 960px;
  background-color: rgb(41, 41, 41);
  height: 500px;
  width: 900px;
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 50px;
  border: 1px solid black;
}

table, td {
  color: rgb(15, 6, 6);
  background-color: rgb(180, 173, 173);
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight:bold;
  text-align: center;
  border: solid  rgb(0, 62, 78) 3px;
  border-collapse: collapse;
  border-width: 5px;
  margin-top: 20px;
  padding: 5px;
  width:500px;
  margin: 0 auto;
}
td:hover {
 color: rgb(155, 0, 0);
}
th, tfoot {
  text-align: center;
  border: solid  rgb(0, 62, 78) 12px;
  border-width: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
/*...............................................S C R O L L I N G    T E X T  */
.twentyTwentyScroll {
  height: 50px;  
  overflow: hidden;
  position: relative;
 }
 .twentyTwentyScroll h3 {
  font-size: 22px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  color: rgb(155, 172, 6);
  margin-top: 140px;
  /* position: absolute; */
  width: 100%;
  height: 100%;
  margin: 0%;
  line-height: 50px;
  text-align: center;
  /* Starting position */
  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%);  
  transform:translateX(100%);
  /* Apply animation to this element */  
  -moz-animation: twentyTwentyScroll 20s linear infinite;
  -webkit-animation: twentyTwentyScroll 20s linear infinite;
  animation: twentyTwentyScroll 20s linear infinite;
 }
 /* Move it (define the animation) */
 @-moz-keyframes twentyTwentyScroll {
  0%   { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
 }
 @-webkit-keyframes twentyTwentyScroll {
  0%   { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
 }
 @keyframes twentyTwentyScroll {
  0%   { 
  -moz-transform: translateX(100%); /* Firefox bug fix */
  -webkit-transform: translateX(100%); /* Firefox bug fix */
  transform: translateX(100%);     
  }
  100% { 
  -moz-transform: translateX(-100%); /* Firefox bug fix */
  -webkit-transform: translateX(-100%); /* Firefox bug fix */
  transform: translateX(-100%); 
  }
 }
 /*.............................................N A V I G A T I O N . L I N K S */
li {
  display: inline-block;
  margin-top: 90px;
  font-weight: bold;
  font-size: 22px;
 margin-left: 260px;
}
 /*......................................................F O O T E R */
 footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  height: 30px;
  margin-bottom: 0;
  padding-top: 10px;
  margin: auto;
  color: rgb(0, 0, 0);
  font-size: 20px;
  width: 100%;
  font-weight: bold;
}