h1 {
  font-family: 'Limelight', cursive;
  font-size: 40px;
  width:500px;
  margin: 0 auto;
  background: gray;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 10px;
}
h2 {
  width:500px;
  margin: 0 auto;
  background: rgb(155, 120, 120);
  text-align: center;
  margin-bottom: 30px;
}
/* L E A D E R B O A R D    T A B L E  */
table, td {
  color: rgb(15, 6, 6);
  background-color: rgb(180, 173, 173);
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight:bold;
  text-align: center;
  border: solid  rgb(0, 62, 78) 3px;
  border-collapse: collapse;
  border-width: 5px;
  margin-top: 20px;
  padding: 5px;
  width:500px;
  margin: 0 auto;
}
td:hover {
 color: rgb(155, 0, 0);
}
th, tfoot {
  text-align: center;
  border: solid  rgb(0, 62, 78) 12px;
  border-width: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
/* S C R O L L I N G    T E X T  */
.twentyTwentyScroll {
  height: 50px;  
  overflow: hidden;
  position: relative;
 }
 .twentyTwentyScroll h3 {
  font-size: 22px;
  font-family: 'IBM Plex Mono', monospace;
  color: rgb(0, 62, 78);
  margin-top: 140px;
  /* position: absolute; */
  width: 100%;
  height: 100%;
  margin: 0%;
  line-height: 50px;
  text-align: center;
  /* Starting position */
  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%);  
  transform:translateX(100%);
  /* Apply animation to this element */  
  -moz-animation: twentyTwentyScroll 15s linear infinite;
  -webkit-animation: twentyTwentyScroll 15s linear infinite;
  animation: twentyTwentyScroll 15s linear infinite;
 }
 /* Move it (define the animation) */
 @-moz-keyframes twentyTwentyScroll {
  0%   { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
 }
 @-webkit-keyframes twentyTwentyScroll {
  0%   { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
 }
 @keyframes twentyTwentyScroll {
  0%   { 
  -moz-transform: translateX(100%); /* Firefox bug fix */
  -webkit-transform: translateX(100%); /* Firefox bug fix */
  transform: translateX(100%);     
  }
  100% { 
  -moz-transform: translateX(-100%); /* Firefox bug fix */
  -webkit-transform: translateX(-100%); /* Firefox bug fix */
  transform: translateX(-100%); 
  }
 }
 /* F O O T E R */
footer {
  text-align: center;
  background: gray;
  height: 30px;
  margin-bottom: 0%;
  padding-top: 10px;
  margin: auto;
  color: rgb(0, 0, 0);
  font-size: 16px;
  width:500px;
}